<div class="mt-4 text-right">
    <button class="btn btn-primary btn-sm mr-1">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
    <button class="btn btn-primary btn-sm ml-1">
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
    </button>
  </div>

<div class="container">
  <div class="row">
    <div class="col player-card p-0 text-center">
      <div class="player-name bg-danger p-2">
        Славік
        <div class="btn-remove">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>
      <div class="player-target p-2">
        12
      </div>
      <div class="player-score p-2">
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
          <span class="score">{{ score }}</span>
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <i class="fa fa-plus" aria-hidden="true"></i>
          </button>  
      </div>
    </div>
    <div class="col player-card p-0 text-center">
      <div class="player-name p-2">
        Саша
      </div>  
      <div class="player-target p-2">
        3
      </div>
      <div class="player-score p-2">
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
          <span class="score">{{ score }}</span>
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <i class="fa fa-plus" aria-hidden="true"></i>
          </button>  
      </div>
    </div>
    <div class="col player-card p-0 text-center">
        <div class="player-name p-2">
          Саша
        </div>  
        <div class="player-target p-2">
          3
        </div>
        <div class="player-score p-2">
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <span class="score">{{ score }}</span>
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>  
        </div>
      </div>
    <div class="col player-card p-0 text-center">
      <div class="player-name p-2 bg-primary">
        Діма
      </div>
      <div class="player-target p-2">
        19
      </div>
      <div class="player-score p-2">
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
          <span class="score">{{ score }}</span>
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <i class="fa fa-plus" aria-hidden="true"></i>
          </button>  
      </div>
    </div>
    <div class="col player-card p-0 text-center">
        <div class="player-name p-2">
          Саша
        </div>  
        <div class="player-target p-2">
          3
        </div>
        <div class="player-score p-2">
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </button>
            <span class="score">{{ score }}</span>
            <button mat-icon-button aria-label="Example icon-button with a heart icon">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>  
        </div>
      </div>
      <div class="col player-card p-0 text-center">
          <div class="player-name p-2">
            Саша
          </div>  
          <div class="player-target p-2">
            3
          </div>
          <div class="player-score p-2">
              <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <i class="fa fa-minus" aria-hidden="true"></i>
              </button>
              <span class="score">{{ score }}</span>
              <button mat-icon-button aria-label="Example icon-button with a heart icon">
                  <i class="fa fa-plus" aria-hidden="true"></i>
              </button>  
          </div>
        </div>
        <div class="col player-card p-0 text-center">
            <div class="player-name p-2">
              Саша
            </div>  
            <div class="player-target p-2">
              3
            </div>
            <div class="player-score p-2">
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </button>
                <span class="score">{{ score }}</span>
                <button mat-icon-button aria-label="Example icon-button with a heart icon">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>  
            </div>
          </div>
  </div>
</div>