<h5 class="text-center mt-3">Set Target</h5>

<div class="container mt-5">
  <div class="row pl-3 pr-3">
    <div class="col p-0 text-center" *ngFor="let player of players">
      <app-player-name [player]="player"></app-player-name>
      <app-target isEditMode="true" [player]="player"></app-target>
    </div>
  </div>
</div>

<div class="text-center mt-5">
    <button type="button" class="btn btn-info mr-2" (click)="onBack()">Back</button>
    <button type="button" class="btn btn-success" [disabled]="!areTargetsValid()" (click)="onStart()">Start</button>
</div>